<!DOCTYPE html>
<html lang="mr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: 'Arial', sans-serif;
        }
    </style>
</head>
<body>
    <p>प्रिय वादक {{fullname}},</p>
    <p>धन्यवाद. शंखनाद ढोल ताशा ध्वजपथकसोबत जोडल्याबद्दल. कृपया सराव स्थळी येताना नोंदणीच्या pdf ची प्रिंट घेऊन यावे.</p>
    <br><br>
    <p>धन्यवाद.</p>
    <p>शंखनाद ढोल ताशा ध्वजपथक, पुणे</p>
</body>
</html>
